@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,500&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --purple: #252A40;
  --blue: #42D5D5;
  --pastel-green: #92D2D0;
  --pastel-blue: #E2EEFB;
  --pastel-orange: #FEEDE6;
  --disabled: #EBEFF2;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--purple);
}

.grid {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  justify-items: center;
}

@media (max-width: 768px) {
  .grid {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.grid-left {
  color: white;
  font-size: 18px;
  margin: 1em 1em;
}

@media (max-width: 991px) {
  .grid-left {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .grid-left {
    min-width: 80%;
  }
}

@media (max-width: 575px) {
  .grid-left {
    font-size: 15px;
  }
}

.grid-left .logo {
  position: absolute;
  left: 2em;
}

.grid-left .logo img {
  width: 50px;
}

.grid-left .main {
  margin-top: 4em;
}

@media (max-width: 991px) {
  .grid-left .main {
    margin-top: 5em;
  }
}

.grid-left .main .header {
  padding: 1em 0;
}

.grid-left .main .header h1 {
  font-size: 1.5em;
}

.grid-left .main .header p {
  font-size: .9em;
  color: #8a8a8a;
}

.grid-left .main .search {
  width: 100%;
  background-color: #3A3F53;
  padding: .8em 1em;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid-left .main .search input {
  outline: none;
  border: none;
  background-color: #3A3F53;
  padding: 0 2em;
  width: 100%;
  color: white;
}

.grid-left .main .search ::-webkit-input-placeholder {
  font-size: 1em;
  color: #bebebe;
}

.grid-left .main .search :-ms-input-placeholder {
  font-size: 1em;
  color: #bebebe;
}

.grid-left .main .search ::-ms-input-placeholder {
  font-size: 1em;
  color: #bebebe;
}

.grid-left .main .search ::placeholder {
  font-size: 1em;
  color: #bebebe;
}

@media (max-width: 575px) {
  .grid-left .projects {
    text-align: center;
  }
}

.grid-left .projects h3 {
  padding: 2em 0 1em 0;
}

.grid-left .projects h3 span {
  color: #777777;
  font-size: .7em;
}

.grid-left .projects .projects-grid {
  display: -ms-grid;
  display: grid;
  min-width: 80%;
  -ms-grid-columns: (minmax(7em, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
  gap: 2em 1em;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  justify-items: center;
  -webkit-transform: translateX(-25px);
          transform: translateX(-25px);
}

@media (max-width: 991px) {
  .grid-left .projects .projects-grid {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

@media (max-width: 768px) {
  .grid-left .projects .projects-grid {
    min-width: unset;
    width: 100%;
  }
}

.grid-left .projects .projects-grid .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.grid-left .projects .projects-grid .card img {
  width: 5em;
}

@media (max-width: 991px) {
  .grid-left .projects .projects-grid .card img {
    width: 5em;
  }
}

.grid-left .projects .projects-grid .card .circle {
  position: absolute;
  top: -10px;
  right: -5px;
  width: 1em;
}

.grid-left .projects .projects-grid .card p {
  margin: 1em 0;
  font-weight: 300;
  font-size: .8em;
  color: #bbbbbb;
  text-align: center;
}

.grid-right {
  background-color: white;
  margin: .8em;
  border-radius: 15px;
  font-size: 16px;
  position: relative;
}

@media (max-width: 991px) {
  .grid-right {
    font-size: 14px;
  }
}

.grid-right .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 50px 20px 50px;
}

@media (max-width: 575px) {
  .grid-right .header {
    margin: 20px 20px;
  }
}

@media (max-width: 991px) {
  .grid-right .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 991px) {
  .grid-right .header .text {
    margin: 1em 0;
  }
}

.grid-right .header .text h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.grid-right .header .text p {
  font-size: .8em;
  color: #a5a5a5;
}

.grid-right .header .profiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.grid-right .header .profiles img {
  width: 2.5em;
}

.grid-right .header .profiles .profile:nth-child(1) {
  position: relative;
  z-index: 3;
}

.grid-right .header .profiles .profile:nth-child(2) {
  position: relative;
  left: -10px;
  z-index: 2;
}

.grid-right .header .profiles .profile:nth-child(3) {
  position: relative;
  left: -20px;
  z-index: 1;
}

.grid-right .header .profiles .add img {
  width: 2.5em;
}

.grid-right .task-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 50px;
  border-bottom: 1px solid #cfcfcf;
  padding-bottom: .5em;
}

@media (max-width: 575px) {
  .grid-right .task-header {
    margin: 0 20px;
  }
}

.grid-right .task-header i {
  color: #c2c2c2;
}

.grid-right .task-list {
  padding: 0 50px 0 50px;
}

@media (max-width: 575px) {
  .grid-right .task-list {
    padding: 0 20px 0 20px;
  }
}

.grid-right .task-list ul {
  list-style-type: none;
}

.grid-right .task-list ul li .bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  margin: 6px 0;
}

@media (max-width: 575px) {
  .grid-right .task-list ul li .bar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.grid-right .task-list ul li .bar .check {
  margin: 0 2px;
  -webkit-box-flex: .3;
      -ms-flex: .3;
          flex: .3;
}

.grid-right .task-list ul li .bar .check img {
  width: 25px;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.grid-right .task-list ul li .bar p {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: .8em;
  margin: 0 2px;
}

.grid-right .task-list ul li .bar .approve {
  background-color: #E1F5F4;
  color: #5FC9C9;
  padding: .2em 1.2em;
  border-radius: 15px;
  margin: 0 2px;
}

.grid-right .task-list ul li .bar .progress {
  background-color: #E4F0FD;
  color: #7DB3F4;
  padding: .2em 1em;
  border-radius: 15px;
  margin: 0 2px;
}

.grid-right .task-list ul li .bar .review {
  background-color: #FDEFE9;
  color: #F7C0AC;
  padding: .2em 1.4em;
  border-radius: 15px;
  margin: 0 2px;
}

.grid-right .task-list ul li .bar .waiting {
  background-color: #EDEFF0;
  color: #99A3B0;
  padding: .2em 1.7em;
  border-radius: 15px;
  margin: 0 2px;
}

.grid-right .add-items {
  position: absolute;
  bottom: 2em;
  right: 2em;
  width: 50px;
  -webkit-filter: drop-shadow(2px 2px 10px #884CC7);
          filter: drop-shadow(2px 2px 10px #884CC7);
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */